---
layout: default
title: David Yamnitsky's Blog
---

{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <hr>
{% endfor %}

<div class="pagination pagination-centered pagination-visible-large">
    <ul>
        {% if paginator.previous_page %}
            <li>
                <a href="{% page_url page.previous_page_number %}">&larr;</a>
            </li>
        {% endif %}
        {% if show_first %}
            <li>
                <a href="{% page_url 1 %}">1</a>
            </li>
            <li class="ellipsis">
                <a>...</a>
            </li>
        {% endif %}
        {% for i in paginator.total_pages %}
            <li {% if paginator.page == i %}class="disabled"{% endif %}>
                <a href="{% page_url i %}">{{ i }}</a>
            </li>
        {% endfor %}
        {% if show_last %}
            <li class="ellipsis">
                <a>...</a>
            </li>
            <li>
                <a href="{% page_url page.paginator.num_pages %}">{{ page.paginator.num_pages }}</a>
            </li>
        {% endif %}
        {% if page.has_next %}
            <li>
                <a href="{% page_url page.next_page_number %}">&rarr;</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="pagination pagination-centered pagination-visible-small">
    <ul>
        {% if page.has_previous %}
            <li>
                <a href="{% page_url page.previous_page_number %}">&larr;</a>
            </li>
        {% endif %}
        <li class="ellipsis">
            <a>Page {{ page.number }} of {{ page.paginator.num_pages }}</a>
        </li>
        {% if page.has_next %}
            <li>
                <a href="{% page_url page.next_page_number %}">&rarr;</a>
            </li>
        {% endif %}
    </ul>
</div>
