h1, h2, h3, h4, h5, h6, p {
    font-weight:200;
    margin-top:10px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
	margin-bottom:0px;
	background-color:white;
	border:none;
	margin-left:-15px;
	margin-right:-15px;
}

@media (max-width:768px) {
	.row {
		margin-left:-5px;
		margin-right:-5px;
	}
}

img {
	max-width:100%;
}

.page {
	margin-bottom:0px;
}

div.gist div.gist-file div.gist-data {
	background-color:white;
}

.navbar-default .navbar-nav>li>a {
	color:#428bca;
}

.navbar-brand {
	font-weight:200;
	font-color:black;
}
