/* styles.css */

a:hover {
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
  color: #333;
}

.nav {
  padding: 1rem 0rem;
}

.nav a {
  font-size: 20px;
  color: #333;
}

.nav .disabled {
  color: gray;
  pointer-events: none;
  cursor: default;
}

.nav .left {
}

.nav .right {
  float: right;
}

.table-nonfluid {
  width: auto !important;
}

table {
  margin-bottom: 1rem;
}

pre {
  background-color: #F7F7F7;
  padding: 1rem 1rem;
}

