<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/syntax.css">
<link rel="stylesheet" href="/styles.css">

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$$','$$']],
    displayMath: [ ['$$','$$'] ],
  },
  asciimath2jax: {
    delimiters: [['${','}$']],
  },
});
</script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script type="text/javascript">
$(function() {
  $("table").addClass("table table-striped table-bordered table-nonfluid");
  anchors.options.placement = 'left';
  anchors.add('.body h1, .body h2, .body h3, .body h4, .body h5, .body h6');
});
</script>

</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <div class="nav">
        <a class="left" href="{{ site.url }}/">{{ site.title }}</a>
        <a class="right" href="{{ site.url }}/about/">About</a>
      </div>

      {{ content }}

    </div>
  </div>
</div>

</body>

</html>
